/***************************************************
GLOBAL TEXT ELEMENTS
***************************************************/

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: verdana, helvetica, sans-serif;
	color: #333;
	font-size:11px;
	background-color: #fff; }

a { 
	color: #669999;
	background-color:transparent;
	font-size: 13px;
	font-weight: normal;
	line-height:20px;
	text-decoration: underline; }

a:link { color: #669999; background-color:transparent;}
a:visited { color: #669999; background-color:transparent;}
a:hover { color: #ffffff; background-color:#99cc99; }

a.nav { 
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 2px 0px;
	color: #669999;
	background-color:transparent;
	font-size: 13px;
	font-weight: normal;
	line-height:20px;
	border-left:1px solid #ffffff;
	text-decoration: none; }

a.nav:link { color: #669999; background-color:transparent;}
a.nav:visited { color: #669999; background-color:transparent;}
a.nav:hover { color: #ffffff; background-color:#99cc99; }

a.navOn { 
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 2px 0px;
	color: #ffffff;
	background-color:#99cc99;
	font-weight: normal;
	text-decoration: none; }

a.navOn:link { color: #ffffff; background-color:#99cc99;}
a.navOn:visited { color: #ffffff; background-color:#99cc99;}
a.navOn:hover { color: #ffffff; background-color:#99cc99; }


/***************************************************
HEADING TEXT ELEMENTS
***************************************************/

h1 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-size: 13px;
	font-weight: bold;
	line-height:15px;
	color: #393; }

h1.pad8 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 8px 0px;
	font-size: 16px;
	font-family: verdana, arial, helvetica, sans-serif;
	font-weight: bold;
	line-height:40px;
	color: #669999; }
	

h2 {
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	font-size: 10px;
	font-weight: normal;
	color: #669999; }
	
h2.pad8 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 8px 0px;
	font-size: 14px;
	font-weight: bold;
	line-height:15px;
	color: #600; }


/***************************************************
PARAGRAPH TEXT ELEMENTS
***************************************************/

p {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 20px 0px;
	font-size: 13px;
	font-weight: normal;
	line-height:19px;
	color: #000; }

p.v12 {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 20px 0px;
	font-size: 13px;
	font-weight: normal;
	line-height:20px;
	color: #333; }

.oldbrowsers {
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 0px 0px;
	color: #c00; }
	

/***************************************************
MISCELLANEOUS
***************************************************/

ul {
	margin:0px 0px 0px 0px;
	padding:5px 0px 20px 35px;
	font-size:12px;
	line-height:17px; }
	
ol {
	margin:0px 0px 0px 20px;
	padding:5px 0px 10px 35px;
	font-size:12px;
	line-height:17px; }

li {
	font-size:13px;
	line-height:20px;
	color:#333; }
	


.red { color:#c00; }

.gray { color: #666; }

.highlight { background-color:#ffc; }

img.screenshot { margin: 0px 0px 10px 0px; }

.v10 { font-size:10px; }

.v11gray { font-size:11px; color:#666; }